<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
     version="2.4">
    <servlet>
        <description>Web Service ProxyMDMSearchRecordSOAP</description>
        <display-name>Web Service ProxyMDMSearchRecordSOAP</display-name>
        <servlet-name>ProxyMDMSearchRecordSOAP</servlet-name>
        <servlet-class>com.gssamerica.mdm.services.searchproxy.MDMSearchRecordImpl</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProxyMDMSearchRecordSOAP</servlet-name>
        <url-pattern>ProxyMDMSearchRecordSOAP</url-pattern>
    </servlet-mapping>
</web-app>
